<%= form_with model: recipe, class: 'recipe' do |form| %>
    <% if recipe.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>
            <ul>
                <% recipe.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>

    <div class="field">
        <%= form.label :difficulty %>
        <%= form.range_field :difficulty, in: 1..5 %>
    </div>

    <div class="field">
        <%= form.label :image %>
        <%= form.file_field :image %>
    </div>

    <div class="field">
        <%= form.label :author_id %>
        <%= form.collection_select :author_id, Author.all, :id, :name %>
    </div>

    <div class="field ingredients">
        <%= form.label :ingredients %>
        <%= form.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %>
    </div>

    <div class="field">
        <%= form.label :comment %>
        <%= form.fields_for :comments, recipe.comments.build(author_id: Author.last.id) do |comment_form| %>
            <%= comment_form.hidden_field :author_id %>
            <%= comment_form.text_area :text %>
        <% end %>
    </div>

    <div class="actions">
        <%= form.submit %>
    </div>
<% end %>
