<h1>Recipe</h1>

<div>
    <strong>Name</strong>
    <%= @recipe.name %>
</div>

<div>
    <strong>Difficulty</strong>
    <%= @recipe.difficulty %>
</div>

<div>
    <strong>Author</strong>
    <%= @recipe.author.name %>
</div>

<% @recipe.comments.each do |comment| %>
    <div>
        <div>
            By <%= comment.author.name %> <%= distance_of_time_in_words_to_now comment.created_at %>
        </div>
        <%= comment.text %>
    </div>
<% end %>

<div>
    <ul>
        <% @recipe.ingredients.each do |ingredient| %>
            <li><%= ingredient.name %></li>
        <% end %>
    </ul>
</div>